<hr/>
  <div class='big-box'>
    <a href="/" class="btn btn-primary pull-left">
      Renew List
    </a>
    <a href="/new-item" class="btn btn-primary pull-right">
      Add Item
    </a>
  </div>
  <div class='big-box'>
      <hr/>
    <p>Made by x2ever, SKKone</p>
      <hr/>
  </div>
</body>
</html>
