<!DOCTYPE html>
<html>
<style>
.big-box{
  float: left;
  width: 100%;
}
.left-box {
  float: left;
  width: 40%;
}
.right-box {
  float: right;
  width: 40%;
}
</style>
<head>
<meta charset="utf-8">
<title>
Decentralization Real Estate Trading Platform Application</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <hr/>
    <h1>
        <b>Decentralized Real Estate Trading Platform Application</b>
    </h1>
  <hr/>
    
